// Here you can easily change your sites's color scheme.
// To give it a try, uncomment some of the lines below rebuild your blog, and see how it works.
// If you need a handy color picker try http://hslpicker.com

//$header-bg: #263347;
//$subtitle-color: lighten($header-bg, 58);
//$nav-bg: desaturate(lighten(#8fc17a, 18), 5);
//$nav-bg-front: image-url('noise.png');
//$nav-bg-back: linear-gradient(lighten($nav-bg, 8), $nav-bg, darken($nav-bg, 11));
//$sidebar-bg: desaturate(#eceff5, 8);
//$sidebar-link-color: saturate(#526f9a, 10);
//$sidebar-link-color-hover: darken(#7ab662, 9);
//$footer-bg: #ccc !default;
//$footer-bg-front: image-url('noise.png');
//$footer-bg-back: linear-gradient(lighten($footer-bg, 8), $footer-bg, //darken($footer-

$main-bg: #ffffff;
$page-bg: #ffffff;

$header-bg: #ffffff;
$title-color: #000000;

$link-color: #36c;
$link-color-hover: #36c;
$link-color-visited: #36c;
$link-color-active: #36c;

$nav-color: #36c;

/* To use the light Solarized highlighting theme uncomment the following line */
//$solarized: light;

/* If you want to tweak the Solarized colors you can do that here */
$base03:          #161616; //darkest blue
$base02:          #161616; //dark blue
$base01:          #93959a; //darkest gray
//$base00:          #657b83; //dark gray
//$base0:           #839496; //medium gray
$base1:           #cccccc; //medium light gray
//$base2:           #eee8d5; //cream
//$base3:           #fdf6e3; //white
$solar-yellow:    #e3a055;
$solar-orange:    #db413d;
$solar-red:       #ba5bd7;
$solar-magenta:   #e3a055;
//$solar-violet:    #6c71c4;
$solar-blue:      #8d5bdb;
$solar-cyan:      #ba5bd7;
$solar-green:     #e09cff;


/* Non highlighted code colors */
//$pre-bg: $base03;
//$pre-border: darken($base02, 5);
//$pre-color: $base1;
